
body{
background-image:url("/home/Sem6B12/Downloads/istockphoto-923852236-612x612.jpg");
background-repeat:no-repeat;
background-attachment:fixed;
background-attachment:scroll;
}


h1
{
color:red;
margin-left:40px;
}
p#sandhya
{
 color:blue;
}
p.sandy{
color:red;
}

